#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(26, 154, 224);
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

.App {
  text-align: center;
  padding-left: 10%;
}

.navigation {
  padding: 0.5cm;
}

.button {
  padding: 0.2cm;
  margin-right: 1cm;
  margin-left: 1cm;
  background-color: yellow;
  font-weight: bolder;
  height: 1cm;
  width: 3cm;
}